@model IEnumerable<Photo.Models.Meme>

<div>
    <h4>Meme (@Model.Count())</h4>
    <hr />
    @foreach (var meme in Model)
    {
        <a href="@Url.Action("Get", "Meme", new { id = meme.Id })" title="@meme.Text">
            <img src="@meme.ImageUrl" alt="@meme.Text" width="300" />
        </a>
    }
</div>
